:root {
  --bg-color: #66acb7;
  --bg-color-two: #ffffff;
  --primary-color: #0d0221;
  --secondary-color: #2c49a0;
  --shade-color: #0f084b;
  --font-color: #ffffff;
  --font-color-two: #000000;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height:100%;
  width: 100vw;
}